html{
    --color-verde: #849c3c;
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-linea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;
    max-width: 1024px;
}

hr{
    border-style: dashed;
    color: var(--color-linea);
}

footer article{
    padding: 10px;
    vertical-align: top;
    width: 30.1%;
    display: inline-block;
}

footer img{
    width: 300px;
}

header nav ul li{
    display: inline-block;
    padding: 8px 14px;
    text-align: center;

    width: 17.3%;
    margin-left: -4px;
    margin-right: -4px;
}

header nav ul li:nth-child(2){
    background: var(--color-verde);
}
header nav ul li:nth-child(3){
    background: var(--color-negro);
}
header nav ul li:nth-child(4){
    background: var(--color-rojo);
}
header nav ul li:nth-child(5){
    background: var(--color-gris);
}

header nav ul{
    margin-left: -37px;   
}

header input{
    text-align: right;
}

section article ul{
    list-style: none;   
}

section article ul li{
    margin-bottom: 10;   
}

section article{
    height: 420px;
    width: 18.6%;
    padding: 18px 8px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    margin-right: -4px;

}

.nito{
    font-weight: bold;
}

section article:nth-child(2){
    background: var(--color-verde);   
}

section article:nth-child(3){
    background: var(--color-negro);   
}

section article:nth-child(4){
    background: var(--color-rojo);   
}

section article:nth-child(5){
    background: var(--color-gris);   
}

section img{
    width: 150px;   
}

section, footer{
    background:var(--fondo-negro) ;   
}

.tam-menu-lateral{
    font-size: 1.1em;
}

.tam-tarjetas{
    font-size: 1.7em;
}

.letra-azul{
    color:var(--color-azul)   
}

.letra-blanca{
    color:var(--color-blanco);
}

.letra-gris{
    color:var(--color-linea);
}

.read-more{
    margin-left: 220px;
}